/* CSS stillerinizi buraya girin */
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* border: 1px solid lime; */
}

h1,
h2 {
  text-align: center;
  font-weight: bolder;
}

h1 {
  margin-bottom: 5rem;
  background-color: #79ac78;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}

header p {
  text-align: center;
}

header nav {
  margin-bottom: 5rem;
}

.container {
  width: 80rem;
  margin: 0 auto;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}

.container ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.container a {
  transition: 0.4s;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #6c757d;
  border-radius: 1rem;
  border: 0.2rem solid;
  color: black;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
}

.container a:hover {
  background-color: #28a745;
}

main .container {
  display: flex;
}

.box-container {
  background-color: #79ac78;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  margin: 0.5rem;
}

.box-container p {
  text-align: center;
}

#whoami {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: top;
  margin-top: 1rem;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
}
#contact-me {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.about-page {
  background-color: #79ac78;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
  padding: 0.2rem;
  border: 1px solid black;
}

.--paragraf {
  padding: 1rem;
}

.--paragraf-2 {
  padding: 15rem 25rem;
}

footer {
  background-color: #bca37f;
  padding: 1.5rem;
  margin-bottom: 0;
}

.foot-container ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.foot-container a {
  transition: 0.4s;
  text-decoration: none;
  padding: 1rem 2rem;
  /* background-color: #6c757d; */
  border-radius: 1rem;
  border: 0.2rem solid;
  color: black;
  box-shadow: 0 9px 19px 2px rgba(0, 0, 0, 0.4);
}

.foot-container a:hover {
  background-color: #28a745;
}

footer p {
  text-align: center;
}

footer div {
  width: 100%;
  height: 100%;
}
